<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
         color="true"
         converErrorsToExceptions="true"
         converWarningsToExceptions="true"
         converNoticesToExceptions="true"
         stopOnFailures="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="tests suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="agent-php-phpUnit" file="/agent-php-phpUnit/agent-php-phpUnit.php">
            <arguments>
                <UUID>07104d6b-45a0-442f-b7ed-a79fa5321123</UUID>
                <host>https://rp.epam.com</host>
                <projectName>your_name_personal</projectName>
                <timeZone>.000+00:00</timeZone>
                <launchName>test launch name !!!</launchName>
                <launchDescription>test launch description !!!</launchDescription>
            </arguments>
        </listener>
    </listeners>
</phpunit>